.food-container {
  scrollbar-width: none;
  display: flex;
  /* justify-content: space-between; */
  gap: 16px;
  overflow-x:auto;
  padding:20px;
  scroll-behavior:smooth
}
.food-container::-webkit-scrollbar {
  height: 8px;
}

.food-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}



.fos {
  flex:0 0 25%;
  box-sizing:border-box;
  border-radius:12px;
  overflow:hidden;
  border:2px solid red
}
.fos img {
  width:100%;
  height:250px;
  object-fit:cover;

}
